[user]
    email = vet_v2002@mail.ru
    name = ThCompiler
[core]
    editor = nano
[web]
    browser = firefox
[init]
    defaultBranch = main
[fetch]
    # Pruning during fetch is a cleanup method that deletes outdated remote references in your .git directory 
    prune = true
[color]
    ui = true
